body {
    margin: 0;
}

.carousel {
    max-width: 600px;
    /* background-color: black; */
    position: relative;
}

.carousel-item {
    max-width: 600px;
    display: none;
}
.carousel-item-hidden {
    display: none;
}

.carousel-item-visible {
    display: block;
    animation: slideAnimation 0.5s;
}

.carousel-image {
    width: 100%;
}

.carousel-action {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-60%);
}

.btn {
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 50%;
    border: none;
}

.carousel-button-prev {
    margin-left: 20px;
}

.carousel-button-next {
    margin-right: 20px;
}

@keyframes slideAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}